/*<!-- zzz -->*/
body {
    margin: 0px;
    color: #000000;
    font: 15px "Segoe UI";
}

#menu {
    float: left;
    background-color: #CCCCCC;
    width: 35%;
    height: 100%;
}

.icon {
    font: 20px "Segoe UI";
    font-weight: bold;
}

#mul {
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    text-decoration: none;
    padding: .7em 4em calc(.5em + 8px);    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(#1FAE0F, #138916) green;
    border: solid 1px #008000;
    cursor:pointer;
    font-size: 14px;
}

#mul:hover { 
    background: linear-gradient(#138916, #076507) #033A03;
}

#mul:active {
    background: linear-gradient(#076507, #033A03) #033A03;
}

#clear {
    margin-top: 10%;
    margin-left: 10%;    
}
#change {
    margin-top: 4%;
    margin-left: 10%;
}
.gray {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    border: solid 1px #939693;
    cursor: pointer;
    background: #FFFFFF;
    background: 
    -moz-linear-gradient(0% 100% 90deg, #CCCCCC, #FFFFFF);
    background: 
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
    
}
.gray:hover {
    background: #d8d8d8;
    background: linear-gradient(#d8d8d8, #ece8e8) #033A03;
    border: solid 1px #939693;
}
.gray:focus {
    border: solid 2px #02a6c9;
}

.gray:active {
    background: #CCCCCC;
    border: solid 1px #939693;
}
#type_matrix {
    margin-top: 15%;
    margin-left: 10%; 
}
#row {
    margin-left: 10%;
    margin-top: 5%; 
}
#col {
    margin-left: 10%;
    margin-top: 3%; 
}

#matrices {
    float: center;
}

#matrices div {
    margin: 15px;
}

#matrices table {
    table-layout: fixed;
    border: 2px solid #000;
    border-top: 0px dashed #000;
    border-bottom: 0px dashed #000;
}

#matrices table input {
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-bottom: 0px;
    width: 40px;
    height: 40px;
}

#matrices td {
    padding: 5px;
    letter-spacing: 1px;
    background: #FFFFFF;
}

.left_col {
    float: left;
}

.right_col {
    position: relative;
    display: inline-block;
}

#matrix_a {
}

#error_message {
    color: #d21212;
    margin-top: 10%;
    margin-left: 10%;
    display: none;
}