/*<!-- zzz -->*/
body{
	margin: 0px;
}
#menu{
	background-color: #CCCCCC;
	width: 40%;
	height: 100%;
}

@font-face {
    font-family: "Segoe UI"; 
    src: url(шрифт.ttf); 
 }

.but{
	color: #404040;
	font: 14px "Segoe UI";
}

#mul{
	position: absolute;
	left: 4%;
	top: 10%;
  	font-weight: 700;
  	color: white;
  	text-decoration: none;
  	padding: .7em 4em calc(.5em + 8px);
  	border-radius: 8px;
  	background: linear-gradient(#1FAE0F, #138916) green;
  	text-align: center;
  	vertical-align: center;
  	border: solid 1px #008000;
  	user-select: none;
  	cursor:pointer;
}
#mul:hover { 
	background: linear-gradient(#138916, #076507) #033A03;
}
#mul:active {
	background: linear-gradient(#076507, #033A03) #033A03;
}
#clear{
	position: absolute;
	left: 4%;
	top: 24%;
}
#change{
	position: absolute;
	left: 4%;
	top: 32%;  
}
.gray{
    padding: 4px 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    border: solid 1px #939693;
    cursor: pointer;
    background: #FFFFFF;
    background: 
    -moz-linear-gradient(0% 100% 90deg, #CCCCCC, #FFFFFF);
    background: 
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
    
}
.gray:hover{
	background: #d8d8d8;
	background: linear-gradient(#d8d8d8, #ece8e8) #033A03;
	border: solid 1px #939693;
}
.gray:active{
	background: #CCCCCC;
	border: solid 1px #939693;
}
#type_matrix{
	position: absolute;
	left: 4%;
	top: 50%;  
}